@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* *: mean all elements */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: rgba(163, 251, 251, 0.705);
  width: 100%;
  position: fixed; /*to let header fixed while you scroll */
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  color: rgb(3, 55, 114);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a {
  color: rgb(3, 55, 114);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.1em;
  font-weight: 600;
  padding-left: 30px;
  transition: 0.5s ease;
}

.navigation div {
  display: inline;
  margin-left: 20px;
}

.navigation a:hover {
  color: rgb(125, 212, 125);
  transform: scale(1.1);
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(image/coding.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2 {
  color: aqua;
  font-size: 1.4em;
  font-weight: 600;
}
.main h2 span {
  color: #7797ee;
  font-size: 3em;
  font-weight: 600;
  display: inline-block; /* because span isn't a block , because we are going to use marging and padding but span doesn't work with it */
  margin-top: 10px;
}

.main h3 {
  color: white;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: white;
  background-color: #4e9eff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}
.main-btn:hover {
  background-color: #0a49f6;
  transform: scale(1.1); /*bigger than his width by 1.1 in x and y */
}

.main {
  position: relative;
  overflow: hidden;
}

.main aside {
  position: absolute;
  right: 0px;
  top: 64px;
  width: 250px;
  height: calc(100% - 64px);
  background-color: rgb(43, 91, 211);
  text-align: center;
  transform: translate(100%);
}

.social-icons a {
  font-size: 1.7em;
  padding-right: 30px;
  transition: 0.5s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
  font-size: 5vh;
}

.title {
  display: flex; /* h2 is a block element but we want to make it in center ("justify-content") , and that can be by add flex*/
  justify-content: center; /* horizontally* /
    /* align-items for vertically */

  color: rgb(3, 55, 114);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: aliceblue;
  width: 18.25em; /*=404px*/
  box-shadow: 0 5px 25px rgba(1 1 1 / 30%); /* box-shadow: horizental h-offset  vertical v-offset blur rgba( color / opacity);*/
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

.icon {
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: #2d4f71;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.projects {
  background-color: #061c20;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: white;
  border: 2px solid white;
  min-height: 14em;
  width: 16em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

/* when i will hover on this card ==> the opacity of image will change */
.project-card:hover .project-image {
  opacity: 0.9;
}
/* to fix the image to fit the content*/
.project-image img {
  width: 100%;
}
/* to fix the content of info part : paragh , more details*/
.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
  color: #000;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: #2d4671;
}

.more-details:hover {
  color: #1063c2;
}

.contact-card .icon {
  font-size: 8em;
}

.contact-card .info h3 {
  color: #000;
}
/* here there is a problem of fitting the paragraph inside box */
.contact-card .info p {
  font-size: 1.2em;
}

.footer {
  background-color: #061c20;
  color: aliceblue;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 500;
}

.footer-title span {
  color: #9fc3e7;
}

.footer .social-icons a {
  font-size: 1em;
  padding: 0 20px 0 0;
}

@media (max-width: 1023px) {
  header {
    padding: 12px 20px;
  }

  .navigation a {
    padding-left: 7px;
  }

  .title {
    font-size: 1.4em;
  }

  section {
    padding: 80px 20px;
  }

  .main h2 {
    font-size: 1em;
  }
  .main h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 12px; /* now 1em=12px==> now everthing will minimize in same measure*/
  }

  .main h2 {
    font-size: 0.8em;
  }

  .main h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}
